servicetest/src/main/app/servicetest.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:ws="http://www.mulesoft.org/schema/mule/ws" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ws http://www.mulesoft.org/schema/mule/ws/current/mule-ws.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    <ws:consumer-config name="Web_Service_Consumer" service="RightNowSyncService" port="RightNowSyncPort" serviceAddress="https://veritastech--tst1.custhelp.com/cgi-bin/veritastech.cfg/services/soap" wsdlLocation="https://veritastech--tst1.custhelp.com/cgi-bin/veritastech.cfg/services/soap?wsdl=generic" doc:name="Web Service Consumer">
        <ws:security>
            <ws:wss-username-token username="Tibco" password="Tibco1234" passwordType="TEXT"/>
        </ws:security>
    </ws:consumer-config>
    <flow name="servicetestFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/" doc:name="HTTP"/>
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/xml
%namespace ns0 urn:messages.ws.rightnow.com/v1_3
%namespace ns2 urn:objects.ws.rightnow.com/v1_3
%namespace xsi http://www.w3.org/2001/XMLSchema-instance
%namespace ns02 urn:base.ws.rightnow.com/v1_3
---
{
	ns0#Get: {
		ns0#RNObjects @("xmlns:ns2":"urn:objects.ws.rightnow.com/v1_3", xsi#type:"ns2:Contact"): {
			ns02#ID @(id: 17): ""
		},
		ns0#ProcessingOptions: {
			ns0#FetchAllNames: false
		}
	}
}]]></dw:set-payload>
            <dw:set-property propertyName="soap.clientInfo"><![CDATA[%dw 1.0
%output application/xml
%namespace ns0 urn:messages.ws.rightnow.com/v1_3
---
{
	ns0#ClientInfoHeader:{
		ns0#AppID:"Basic Get"
	}
}]]></dw:set-property>
        </dw:transform-message>
        <logger message="#[message.payloadAs(java.lang.String)]" level="INFO" doc:name="Logger"/>
        <ws:consumer config-ref="Web_Service_Consumer" operation="Get" doc:name="Web Service Consumer"/>
    </flow>
</mule>
